.center2 {
  color: black;
  font-size: 1rem;
  width: 85%;
  margin: 1rem auto;
  text-align: left;
}
.center3 {
  color: black;
  font-size: 1rem;
  width: 90%;
  margin: 1rem auto;
  text-align: left;
}

.area2 {
  margin-top: 0.5rem;
}
.titleArea {
  margin-bottom: 1rem;
}
.secondTitle {
  font-weight: bold;
  color: #2B2119;
  cursor: pointer;
}
.backBtn {
  margin: 0 0.5rem;
  width: 1.2rem;
  cursor: pointer;
}
.check {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.typeCheck>* {
  width: 49%;
  font-size: 0.8rem;
  color: #2B2119;
  background-color: #ECDCCB;
  padding: 0.3rem 0;
}
.clickedCheck {
  font-weight: bold;
  color: white;
  background-color: #2B2119;
}

.dataArea {
  width: 95%;
  height: 25rem;
  overflow: auto;
}

table {
  width: 85%;
  font-size: 0.7rem;
  margin: 0 auto;
  border: none;
}
thead {
  border-bottom: solid 0.05rem #55705A;
}
tr {
  border-bottom: solid 0.01rem #55705A;
}
th,td {
  text-align: center;
  padding: 0.3rem 0;
}