.center2 {
  color: black;
  font-size: 1rem;
  width: 85%;
  margin: 1rem auto;
  text-align: left;
}
.center3 {
  color: black;
  font-size: 1rem;
  width: 90%;
  margin: 1rem auto;
  text-align: left;
}

.area2 {
  margin-top: 0.5rem;
}
.titleArea {
  margin-bottom: 1rem;
}
.inputArea {
  width: 100%;
  margin: 0.3rem auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.secondTitle {
  font-weight: bold;
  color: #2B2119;
  cursor: pointer;
}
.backBtn {
  margin: 0 0.5rem;
  width: 1.2rem;
  cursor: pointer;
}
.check {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.typeCheck>* {
  width: 49%;
  font-size: 0.8rem;
  color: #2B2119;
  background-color: #ECDCCB;
  padding: 0.3rem 0;
}
.clickedCheck {
  font-weight: bold;
  color: white;
  background-color: #2B2119;
}
.helpArea {
  font-size: 0.7rem;
  color: #E48873;
  margin-bottom: 1rem;
}
.inputTitle {
  width: 100%;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  color: #2B2119;
  padding: 0.3rem 0;
  border-bottom: solid 0.05rem #2B2119;
}
.space1 {
  text-align: center;
  margin-right: 0.5rem;
}
.space2, .space3 {
  display: inline-block;
  width: 35%;
}
.space4, .space5 {
  display: inline-block;
  width: 30%;
}
.formArea {
  overflow: auto;
  text-align: center;
}
select {
  border: none;
  border-bottom: solid 0.05rem lightgrey;
  font-size: 0.7rem;
  background-color: white;
}
.inputArea>div>input {
  border: none;
  border-bottom: solid 0.05rem lightgrey;
  font-size: 0.8rem;
}
.minusBtn, .addBtn>*{
  width: 1rem;
}
.dept {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  width: 40%;
  text-align: center;
}
.addBtn {
  text-align: center;
  border-radius: 0.3rem;
  margin: 0.5rem auto;
  width: 85%;
  height: 1.5rem;
  font-size: 0.7rem;
  display: inline-block;
  float: none;
  padding: 0.2rem;
  background-color: white;
  border: dashed 0.01rem #55705A;
}
.registerBtn {
  width: 85%;
  height: 1.5rem;
  font-size: 0.7rem;
  text-align: center;
  display: inline-block;
  float: none;
  padding: 0.2rem;
  background-color: #55705A;
  border: none;
}

#error {
  font-size: 0.7rem;
  color: red;
  display: inline-block;
  margin-bottom: 0.2rem;
}

.swal2-popup {
  font-size: 0.7rem !important;
}