@font-face {
  src : url("../font/NanumSquareRoundR.ttf");
  font-family: "NanumR"
}

html{
  max-width: 100% !important;
  width: 500px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  height: 100% !important;
}
body{
  font-family: "NanumR";
}

#container{
  margin: 0 auto;
  background-color: white;
}

.subTitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}


/*header.html*/
header{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 2rem;
  margin-top: 1.5rem;
  color: black;
  cursor: pointer;
}
#headerTitle{
  font-size: 1rem;
  width: 88%;
  margin: 0 auto;
}
.titleIcon {
  margin-top: 0.25rem;
  width: 1.3rem;
  height: auto;
  cursor: pointer;
}
.titleIconMenu {
  float: left;
}
.titleIconLogout {
  float: right;
}
.homeBtn {
  float: left;
}
.loginInfo {
  font-size: 0.75rem;
  margin: 0 auto;
  color: #55705A;
  display: flex;
  flex-basis: 100%;
  align-items: center;
}
.loginInfo::before,
.loginInfo::after {
  content: "";
  flex-grow: 1;
  background: #55705A;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}

/*footer.html*/
footer{
  line-height: 2rem;
  cursor: pointer;
  background-color: #f8f2ec;
  position: absolute;
  bottom: 0;
  max-width: 100% !important;
  width: 500px !important;
}
#footerArea{
  display: block;
  border-top: solid 0.1rem #2B2119;
  vertical-align: center;
  text-align: center;
  padding: 0.3rem 1rem;
  width: 100%;
  margin: 0 auto !important;
}
.footerMenu {
  width: 23%;
  display: inline-block;
  text-align: center;
}
.footerIcon{
  width: 2rem !important;
  height: auto !important;
  text-align: center;
}


/*기타 공통*/
.pointer{
  cursor: pointer;
}
.select-selected {
  color: whitesmoke !important;
  background: #bf5279 !important;
}
/* 스크롤 설정하기 */
::-webkit-scrollbar {width: 8px; height: 8px; border: 3px solid #fff; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background-color: #efefef}
::-webkit-scrollbar-track {background: #efefef; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: #55705A; -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px #ECDCCB}

.scheduleDetail::-webkit-scrollbar {  width: 3px !important; }

