.center {
  color: black;
  font-size: 1rem;
  width: 85%;
  margin: 1rem auto;
  text-align: left;
}

.area {
  margin-top: 0.5rem;
}

.subArea {
  margin: 0.3rem 0;
  padding: 0.5rem;
  background-color: #f8f2ec;
  font-size: 0.8rem;
  cursor: pointer;
}
.smallWidth {
  width: 85%;
  display: inline-block;
}
#makeSchedule {
  width: 100%;
  height: 2rem;
  text-align: center;
  background-color: #2B2119;
  color: white;
  border: none;
  padding: 0;
  font-size: 0.8rem;
  margin: 1rem auto;
}
.smallImg {
  width: 0.9rem;
  height: auto;
  padding-bottom: 0.1rem;
  margin-left: 0.3rem;
}
.detailSubArea {
  margin: 0rem auto 0.5rem auto;
  font-size: 0.8rem;
}
.editImg {
  float: right;
  width: 1.5rem;
  vertical-align: middle;
  margin: 1.6rem 0.3rem;
  cursor: pointer;
}
.subHelp {
  display: inline-block;
  width: 40%;
  cursor: pointer;
}
.subInput {
  display: inline-block;
  margin-bottom: 0.5rem;
  width: 8rem;
  height: 1.5rem;
  font-size: 0.7rem;
  padding: 0.1rem 0.3rem;
  cursor: pointer;
}
.space {
  width: 3rem;
}

#saveSchedule {
  width: 100%;
  height: 2rem;
  text-align: center;
  background-color: #55705A;
  color: white;
  border: none;
  padding: 0;
  font-size: 0.8rem;
  margin: 1rem auto 0rem auto;
}
.saveSchedule2 {
  display: inline-block;
  width: 48%;
  height: 2rem;
  text-align: center;
  background-color: #55705A;
  color: white;
  border: none;
  padding: 0;
  font-size: 0.8rem;
  margin: 0.7rem auto 0rem auto;
}
#deleteSchedule {
  background-color: #E48873;
}
#buttons {
  margin: 0 auto;
}
.error {
  color: red;
  float: left;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}