.subTitle {
  margin-left: 8%;
}
#dateArea {
  text-align: center;
  background-color:  #ECDCCB;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.dateAreaInput {
  width: 40%;
  font-size: 0.7rem;
  font-weight: bold;
  display: inline-block;
  border: none;
}
#year {
  width: 30%;
}
#week {
  margin: 0.7rem auto 0;
  width: 70%;
}
.weekNo {
  font-size: 0.8rem;
  background-color: white;
  padding: 0.2rem 0.4rem;
  margin: 0 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.checkedWeekNo {
  background-color: #55705A;
  color: white;
  font-weight: bold;
}


/*!*owlCarousel*!
#date {
  text-align: center;
  margin-top: 1rem;
}
.dateDetail {
  text-align: center;
  padding: 0.5rem;
  width: 2.5rem;
  height: 3.2rem;
  border-radius: 0.3rem;
  margin: 0 auto;
}
.dateDetail > span {
  display: block;
}
.day {
  font-size: 0.7rem;
}
.owl-item {
  background-color: #f8f2ec;
  border-radius: 0.3rem;
}
.center {
  background-color: #55705A;
  font-weight: bold;
  color: white;
}*/



.scheduleArea {
  padding-top: 1rem;
  font-size: 0.9rem;
  overflow: auto;
  height: 20rem;
  margin: 0 auto;
}
#scheduleCnt {
  margin-left: 1rem;
  color: #E48873;
  font-weight: bold;
}
.scheduleDetail {
  margin: 0.7rem auto;
  width: 90%;
  padding: 0.2rem 0 0.2rem 1rem;
  border-bottom: solid 0.05rem lightgray;
  cursor: pointer;
}
.date {
  font-weight: bold;
}
.time {
  color: #55705A;
  font-weight: bold;
  background-color: #f8f2ec;
  padding: 0.3rem;
  border-radius: 0.2rem;
}
.smallImg {
  width: 0.9rem;
  height: auto;
  padding-bottom: 0.1rem;
}
.letterSpace {
  margin-right: 0.2rem;
}
.detailBtn {
  float: right;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  cursor: pointer;
}
.attenders {
  margin-top: 0.3rem;
  font-weight: bold;
}
.attendersDetail {
  margin-bottom: 0.3rem;
}
.edit {
  cursor: pointer;
  text-align: center;
  padding: 0.2rem;
  border-radius: 0.2rem;
  background-color: #E48873;
  color: #2B2119;
  font-weight: bold;
  font-size: 0.7rem;
  margin: 0.5rem auto;
  width: 60%;
}